version: "3.9"
services:
  backend:
    build: ./backend
    container_name: tele3118-backend
    ports:
      - "8000:8000"
    networks:
      - appnet
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: tele3118-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - appnet
    environment:
      - REACT_APP_BACKEND_BASE=http://localhost:8000

networks:
  appnet:
    driver: bridge
